<!DOCTYPE html>
<html>
<head>
    <title>Recipe Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body{
        overflow-x:hidden;
      }
      .rating{
        font-size: 18px;
      }
      .checked {
        color: orange;
      }

      .wrapd{
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
    }
    </style>
</head>
<body>
<center><h1>Recipe Management System</h1></center>
  
<div class="wrapd">
  <div>
    <form action="{{ url_for('main.search_recipe') }}" method="GET">
      <div class="search">
        <input type="text" class="searchTerm" name="search" placeholder="Search...">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
    <div id="exportbtndiv">
      <a href="{{ url_for('main.add_recipe') }}"><button id="addbtn">Add Recipe <i class="fa fa-plus"></i></button> </a>  
    </div>

    <div id="exportbtndiv">
      <a href="{{ url_for('main.export_recipes') }}"><button id="exportbtn">Export Recipe <i class="fa fa-upload"></i></button></a>
    </div>

    <div id="exportbtndiv">
      <a href="{{ url_for('main.latest_recipes') }}"><button id="exportbtn">View Latest Recipes <i class="fa fa-th"></i></button></a>
    </div>
</div>

<div>
<div class="row">
    {% for recipe in recipes %}

        <div class="column">
          <a href="{{ url_for('main.view_recipe', id = recipe.id)}}" style="text-decoration: none; color:black;"> 
          <div class="content">
            <img src="{{ url_for('static',filename='images/' + recipe['image'])}}" alt="{{recipe.image}}" >
            <h3>{{recipe.name}}</h3>
            <div class="rating">
              {% for i in range((recipe.rating | int)) %}
                <span class="fa fa-star checked"></span>
              {% endfor %}
              <!-- For loop to generate remaining empty stars -->
              {% for i in range(5 - (recipe.rating | int)) %}
                <span class="fa fa-star"></span>
              {% endfor %}
            </div>
          </div>
        </a>
        </div>
    
                   
           
        {% endfor %}
    </div>

</body>
</html>