<!DOCTYPE html>
<html>
<head>
    <title>View -Recipe Management System</title>
</head>
<body>
    <h1>View Recipe</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <td>{{ recipes.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ recipes.description }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ recipes.category }}</td>
        </tr>
        <tr>
            <th>Cuisine</th>
            <td>{{ recipes.cuisine }}</td>
        </tr>
        <tr>
            <th>Instructions</th>
            <td>
                <ol>
                    {% for step in recipes.instructions %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
        <tr>
            <th>Ingredients</th>
            <td>
                <ul>
                    {% for ingredient in recipes.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Date Published</th>            
            <td>{{ recipes.date_published }}</td>
        </tr>
    </table>
</body>
</html>